.news {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial;
    width: 320px;
    color: rgba(0,0,0,.8);
    padding: 0 12px;
    margin-bottom: 30px;
}
.news img.main {
    width: 100%;
    height: 175px;
    border: 1px solid rgba(0,0,0,.15);
}

.news h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 6px 0 4px 0;
}

.news p {
    font-size: 16px;
    margin: 4px 0;
}

.news .author {
    margin: 4px 0;
    display: flex;
    font-size: 13px;
}

.author img {
    margin-right: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.8);
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.news .author-info {
    flex: 1;
    color: rgba(7, 56, 168, 0.65);
}

.f {
    display: flex;
    flex-wrap: wrap;
}

.f .news {
    margin-bottom: 20px;
    margin-right: 20px;
}